{% extends 'base.html.twig' %}

{% block title %}Quote index{% endblock %}

{% block body %}
    <h1>Quote index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Quote</th>
                <th>Author</th>
                <th>Types</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for quote in quotes %}
                <tr>
                    <td>{{ quote.quote }}</td>
                    <td>{{ quote.author }}</td>
                    <td>{{ quote.type|join(', ') }}</td>
                    <td>
                        <a href="{{ path('quote_show', {'id': quote.id}) }}" class="btn btn-info">show</a>
                        <a href="{{ path('quote_edit', {'id': quote.id}) }}" class="btn btn-warning">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('quote_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
